<div class="single_page">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">{{category}}</a></li>
      <li class="active"><a href="#">{{subcategory}}</a></li>
    </ol>
    <h1>{{article.subject}}</h1>
    <div class="post_commentbox"> 
      <span><i class="fa fa-user"></i>{{article.author.user_fname}} {{article.author.user_lname}}</span> 
      <span><i class="fa fa-calendar"></i>{{article.created | amFromUtc | amTimeAgo}}</span> 
      <span *ngIf="article.country != ''"><i class="fa fa-map-marker"></i>{{article.city}} {{article.state.split("-")[1]}} {{article.country}}</span> 
    </div>
    <div class="single_page_content"> 
      <div>
        <blockquote>{{article.overview}}</blockquote>
        <img *ngIf="article.images.banner != ''"class="img-center banner-image" src="{{article.images.banner}}" alt="">
      </div>
      <p [innerHTML]="article.body"></p>
      <!--button class="btn default-btn">Default</button>
      <button class="btn btn-red">Red Button</button>
      <button class="btn btn-yellow">Yellow Button</button>
      <button class="btn btn-green">Green Button</button>
      <button class="btn btn-black">Black Button</button>
      <button class="btn btn-orange">Orange Button</button>
      <button class="btn btn-blue">Blue Button</button>
      <button class="btn btn-lime">Lime Button</button>
      <button class="btn btn-theme">Theme Button</button-->
    </div>
    <div class="social_link">
      <ul class="sociallink_nav">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url}}"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/home?status={{url}}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/share?url={{url}}"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.linkedin.com/shareArticle?url={{url}}&title={{article.subject}}"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://pinterest.com/pin/create/button/?url={{url}}&media={{article.overview}}"><i class="fa fa-pinterest"></i></a></li>
      </ul>
    </div>
    <div class="comments">
        <fb-comments href="{{url}}" data-numposts="5" width="100%"></fb-comments>
    </div>
    <div class="related_post">
      <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
      <ul class="spost_nav wow fadeInDown animated">
        <li>
          <div class="media"> <a class="media-left" href="/page"> <img src="/assets/images/post_img1.jpg" alt=""> </a>
            <div class="media-body"> <a class="catg_title" href="/page"> Aliquam malesuada diam eget turpis varius</a> </div>
          </div>
        </li>
        <li>
          <div class="media"> <a class="media-left" href="/page"> <img src="/assets/images/post_img2.jpg" alt=""> </a>
            <div class="media-body"> <a class="catg_title" href="/page"> Aliquam malesuada diam eget turpis varius</a> </div>
          </div>
        </li>
        <li>
          <div class="media"> <a class="media-left" href="/page"> <img src="/assets/images/post_img1.jpg" alt=""> </a>
            <div class="media-body"> <a class="catg_title" href="/page"> Aliquam malesuada diam eget turpis varius</a> </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
