<div class="single_post_content">
  <h2>
    <span>Editor</span>
  </h2>
  <div>
        <div class="form-group col-md-12">
            <label>Subject*</label>
            <input class="form-control" type="text" [(ngModel)]="subject" placeholder="Subject*"/>
        </div>
        <div class="form-group col-md-12">
            <label>Overview*</label>
            <textarea class="form-control" type="text" [(ngModel)]="overview" placeholder="Overview*"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label>Category*</label>
            <select class="form-control" #category (change)="categoryChanged(category.value)"
            [(ngModel)]="selectedCategory">
              <option *ngFor="let item of categoryList" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>Sub Category*</label>
            <select class="form-control" #subcategory 
            [(ngModel)]="selectedSubCategory">
              <option *ngFor="let item of subCategoryList" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <form>
            <div class="form-group col-md-6">
                <label>Banner Image</label>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file" style="border: 0px!important;" accept="image/jpeg, image/png"/>
                <div class="img-display">
                    <img *ngIf="displayImage!=null" src="{{displayImage}}"/>
                    <span *ngIf="displayImage==null" class="glyphicon glyphicon-camera"></span>
                </div>
            </div>
        </form>
        <div class="form-group col-md-6">
            <label>Keywords*</label>
            <input class="form-control" type="text" [(ngModel)]="keyword" placeholder="keyword1 keyword2"/>
        </div>
        <div class="form-group col-md-12">
            <label>Body*</label>
            <editor apiKey="tzo4ehyxvkzab513z0pffcqus92yhryrmqsrs2ykgdc4qlm0" cloudChannel="dev" [init]="{
                selector: 'textarea',
                height:300,
                theme: 'modern',
                plugins: 'print preview fullscreen image link media table hr help',
                image_advtab: true
              }" [(ngModel)]="body">
              </editor>
        </div>
        <div id="regional-check" class="form-group col-md-12">
            <label><input type="checkbox" (change)="regionalCheck()" [(ngModel)]="regionalFlag"/> Is this article specific to country or a state</label>
        </div>
        <div *ngIf="regionalFlag" class="form-group col-md-4">
            <label>Country</label>
            <select class="form-control" (change)="countryChanged(1)" [(ngModel)]="country">
                <option value="">--Select Country--</option>
                <option *ngFor="let item of countriesList" value="{{item.full_name}}">{{item.full_name}}</option>
            </select>
        </div>
        <div *ngIf="regionalFlag" class="form-group col-md-4">
            <label>State</label>
            <select disabled=disabled class="form-control" id="state" (change)="stateChanged(1)"  [(ngModel)]="state">
                <option value="">--Select State--</option>
                <option *ngFor="let item of statesList" value="{{item.state_id +'-'+ item.state_name}}">{{item.state_name}}</option>
            </select>
        </div>
        <div *ngIf="regionalFlag" class="form-group col-md-4">
                <label>City</label>
                <select disabled=disabled class="form-control" id="city"  [(ngModel)]="city">
                        <option value="">--Select City--</option>
                    <option *ngFor="let item of citiesList" value="{{item}}">{{item}}</option>
                </select>
            </div>
        <div class="form-group col-md-12">
            <ul class="list-inline  pull-right">
                <li><a (click)="saveBlog()" class="btn btn-primary btn-sm">Save</a></li>
                <li><a class="btn btn-default btn-sm">Cancel</a></li>
                <li *ngIf="article_id!=null"><a class="btn btn-success btn-sm">Publish</a></li>
            </ul>
        </div>
  </div>
</div>