<div _ngcontent-c1="" class="single_post_content">
  <h2 _ngcontent-c1=""><span _ngcontent-c1="">Contact Us</span></h2>
  <div class="contact_area">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <form action="#" class="contact_form">
      <input class="form-control" type="text" placeholder="Name*">
      <input class="form-control" type="email" placeholder="Email*">
      <textarea class="form-control" cols="30" rows="10" placeholder="Message*"></textarea>
      <input type="submit" value="Send Message">
    </form>
  </div>
</div>


