<div class="single_post_content">
  <h2><span >Contact Us</span></h2>
  <div class="contact_area">
    <p>Hi, You can reach us by submiting below form. We will get in touch ASAP. Thanks.</p>
    <form action="#" class="contact_form">
      <input class="form-control" type="text" placeholder="Name*">
      <input class="form-control" type="email" placeholder="Email*">
      <textarea class="form-control" cols="30" rows="10" placeholder="Message*"></textarea>
      <input type="submit" value="Send Message">
    </form>
  </div>
</div>


