/* You can add global styles to this file, and also import other style files */
header, footers{margin: 0px !important;}
section{margin: 0px; padding: 0px !important;}
section#contentSection{padding: 10px !important;}

.logo {height: 49px;width: 235px;margin-top:3px;}
.alert {
    z-index: 100;
    border-radius: 0px;
    padding: 5px 10px;
    font-size: 12px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    left: 0px;
}
.container {padding-right: 0px;padding-left: 0px; }
.glyphicon {top: 0px; margin-right: 2px;}
.ngx-datepicker-calendar-container{z-index: 1000;}
input {
    padding: 5px 10px !important;
    font-size: 12px !important;
    width: 100% !important;
    outline: 0 !important;
    border: 1px solid #dbdbdb !important;
	border-radius: 0px 4px 4px 0px !important;
}
#mceu_39, #mceu_38 {
    display: none !important;
}

.search-box{
    border: 1px #efefef !important;
    border-radius: 5px 0px 0px 5px!important;
}

